langchain
ipykernel
python-dotenv
langchain_openai
beautifulsoup4
langchain_community
faiss-cpu
streamlit
langchain_groq
langchain_core
fastapi
uvicorn
langserve
sse_starlette
pydantic==1.10.13
langchain==0.1.14
langserve==0.0.44
httpx==0.24.1
pydantic==1.10.13
python-dotenv
langchain_chroma
bs4
huggingface